.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top, .offcanvas{
    height: fit-content;
    color: black;
}

li {
    color: whitesmoke;
    list-style: none;
    border-color: black;
    border-width: thin;
    border-style: solid;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.unchecked {
    color: white;
}

.stars {
    align-content: center;
}

p{
    font-style: italic;
    color: gray;
}

#overview {
    color: black;
}

.dropdown {
    position: absolute;
    right: 0;      
}